/.vs
/MangaOnline/.idea
/MangaOnline/.vs
/MangaOnline/MangaOnline/bin
/MangaOnline/MangaOnline/obj
MangaOnline/MangaOnline/appsettings.json
/MangaOnline/Service.Schedule/bin
/MangaOnline/Service.Schedule/obj
/MangaOnline/Service.Schedule/appsettings.json


