USE [MangaOnline.V1.DevPRN221]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryManga]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryManga](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[LikedCount] [int] NOT NULL,
	[DislikedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Comments_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapteres]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapteres](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[Status] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[FilePDF] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chapteres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FollowList]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowList](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MangaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FollowList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Id] [uniqueidentifier] NOT NULL,
	[user] [nvarchar](256) NULL,
	[hash] [nvarchar](256) NULL,
	[from] [nvarchar](256) NULL,
	[to] [nvarchar](256) NULL,
	[value] [nvarchar](256) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IpUserVote]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpUserVote](
	[MangaId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Rate] [int] NULL,
 CONSTRAINT [pk_my_table] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mangas]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mangas](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[RateCount] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[FollowCount] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mangas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ChapterId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [uniqueidentifier] NOT NULL,
	[ChapterId] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[PageNumber] [int] NOT NULL,
 CONSTRAINT [PK_Pages_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [bigint] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[SubId] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
	[ModifiedAt] [datetimeoffset](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 8/13/2023 11:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'ed45a6ea-d341-4a0c-aa22-02b13bbcf645', 8, N'Aoyama Gosho')
INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'fcf4d2c5-3006-4d6c-9cfa-10b2cb4673c8', 18, N'Aoyama Gōshō')
INSERT [dbo].[Authors] ([Id], [SubId], [Name]) VALUES (N'52559b15-3f1c-4d2b-ae37-1e9099e99260', 16, N'Kishimoto Masashi')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'd8c7163c-1e11-48c0-98d4-16b22c812607', 7, N'Ngôn tình')
INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'6accc550-d475-4357-bcb9-17302ed409c4', 4, N'Drama')
INSERT [dbo].[Categories] ([Id], [SubId], [Name]) VALUES (N'fd761c84-897c-4529-aec7-7a8731ef1b90', 6, N'Trinh thám')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryManga] ON 

INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'385871e9-75b7-4cf9-9eb3-87f31d6e7bae', N'872a9a88-362c-4e18-97f7-59d36747eb36', 3)
INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'fd761c84-897c-4529-aec7-7a8731ef1b90', N'0dfabc44-bd5d-49ea-baec-2ca4386ad32e', 11)
INSERT [dbo].[CategoryManga] ([CategoryId], [MangaId], [SubId]) VALUES (N'766a75b4-6942-4b9b-aecb-bbeeaa36a4b0', N'0dfabc44-bd5d-49ea-baec-2ca4386ad32e', 12)
SET IDENTITY_INSERT [dbo].[CategoryManga] OFF
GO
INSERT [dbo].[Comments] ([Id], [MangaId], [UserId], [Content], [CreatedAt], [LikedCount], [DislikedCount], [IsActive]) VALUES (N'1f431bdd-6f53-46b4-b98c-9bf771d1b1a9', N'a2c399d9-3465-4594-a56b-6785cb4814fb', N'fa413bd3-52a0-4ef3-bfe4-ee903a92ceb6', N'haha', CAST(N'2023-03-21T11:40:09.6780464+07:00' AS DateTimeOffset), 0, 0, 1)
INSERT [dbo].[Comments] ([Id], [MangaId], [UserId], [Content], [CreatedAt], [LikedCount], [DislikedCount], [IsActive]) VALUES (N'53cbda3a-d787-401c-b9a0-d54e94b145cb', N'a2c399d9-3465-4594-a56b-6785cb4814fb', N'fa413bd3-52a0-4ef3-bfe4-ee903a92ceb6', N'ads', CAST(N'2023-03-21T11:32:03.8126016+07:00' AS DateTimeOffset), 10, 10, 1)
GO
SET IDENTITY_INSERT [dbo].[Chapteres] ON 

INSERT [dbo].[Chapteres] ([Id], [SubId], [MangaId], [ChapterNumber], [Name], [CreatedAt], [Status], [IsActive], [FilePDF]) VALUES (N'3e0fa829-38ca-4a01-a013-244dd29c173c', 1, N'52a213a9-7383-411f-b922-00119bf25b1f', 1, N' Chapter 1', CAST(N'2023-03-23T00:59:07.6312038+07:00' AS DateTimeOffset), 1, 1, N'7f27f88a-8461-4f38-a90e-6d9b45e7efc7.pdf')
INSERT [dbo].[Chapteres] ([Id], [SubId], [MangaId], [ChapterNumber], [Name], [CreatedAt], [Status], [IsActive], [FilePDF]) VALUES (N'02633814-2ac1-46e6-88cf-4b6e351ec10d', 2, N'52a213a9-7383-411f-b922-00119bf25b1f', 2, N' Chapter 2', CAST(N'2023-03-23T01:09:25.6360223+07:00' AS DateTimeOffset), 1, 1, N'76646c37-35a3-4fb9-9c9c-6837e55e27d7.pdf')
INSERT [dbo].[Chapteres] ([Id], [SubId], [MangaId], [ChapterNumber], [Name], [CreatedAt], [Status], [IsActive], [FilePDF]) VALUES (N'567f0c1a-ecd0-445b-aff4-4c802fd749c5', 5, N'52a213a9-7383-411f-b922-00119bf25b1f', 4, N' Chapter 4', CAST(N'2023-07-18T14:54:05.9858275+07:00' AS DateTimeOffset), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Chapteres] OFF
GO
INSERT [dbo].[FollowList] ([Id], [UserId], [MangaId]) VALUES (N'8b457360-7673-467b-86f3-15cf26cdf462', N'2ac33d9d-7e49-422e-8587-190f6c7bedca', N'52a213a9-7383-411f-b922-00119bf25b1f')
GO
INSERT [dbo].[IpUserVote] ([MangaId], [UserId], [Rate]) VALUES (N'52a213a9-7383-411f-b922-00119bf25b1f', N'96ed8a95-595e-4af9-96c6-0ac65f1f4128', 3)
GO
SET IDENTITY_INSERT [dbo].[Mangas] ON 

INSERT [dbo].[Mangas] ([Id], [SubId], [AuthorId], [Status], [ViewCount], [RateCount], [Star], [FollowCount], [Description], [CreatedAt], [ModifiedAt], [IsActive], [Image], [Name]) VALUES (N'52a213a9-7383-411f-b922-00119bf25b1f', 17, N'6b088831-4697-4260-9478-a156d941bfbb', 0, 375, 0, 1, 1, N'Tuyện tiếp nối chap 545 của Fairy Tail, khi nhóm Natsu đi làm nhiệm vụ trăm năm.', CAST(N'2019-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2023-02-26T17:10:59.8828507+07:00' AS DateTimeOffset), 1, N'564af0fd-6df5-4d6f-9d3d-85a0429dbf0f.jpg', N'Hội Pháp Sư Nhiệm Vụ Trăm Năm')
SET IDENTITY_INSERT [dbo].[Mangas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [SubId], [Description], [Name]) VALUES (N'3a84b5de-bf4e-4401-90ae-147e97e8b4b5', 4, N'NormalUser', N'NormalUser')
INSERT [dbo].[Roles] ([Id], [SubId], [Description], [Name]) VALUES (N'fd65f14e-8119-4dca-a904-19e9e1d7299d', 1, N'Admin', N'Admin')
INSERT [dbo].[Roles] ([Id], [SubId], [Description], [Name]) VALUES (N'8ac516e2-fa3b-470d-acb7-6ed7a534280b', 1, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([SubId], [UserId], [RoleId]) VALUES (1, N'00000000-0000-0000-0000-000000000000', N'53428a41-7629-4701-8270-72d8464d9753')
INSERT [dbo].[UserRoles] ([SubId], [UserId], [RoleId]) VALUES (2, N'96ed8a95-595e-4af9-96c6-0ac65f1f4128', N'53428a41-7629-4701-8270-72d8464d9753')
INSERT [dbo].[UserRoles] ([SubId], [UserId], [RoleId]) VALUES (3, N'2ac33d9d-7e49-422e-8587-190f6c7bedca', N'8ac516e2-fa3b-470d-acb7-6ed7a534280b')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar]) VALUES (N'00000000-0000-0000-0000-000000000000', 1, N'Van Trai Chu', N'trai123trai@gmail.com', 1, N'$2a$10$Jg/YXjudLQYGUT0Ubrgyzu7BPc26typhZ51.JyoURXYZxj6uDTRL6', N'0362351671', 1, 0, CAST(N'2023-02-07T02:06:10.7830969+07:00' AS DateTimeOffset), CAST(N'2023-02-07T02:06:10.7841144+07:00' AS DateTimeOffset), 1, 1, NULL)
INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar]) VALUES (N'96ed8a95-595e-4af9-96c6-0ac65f1f4128', 2, N'Van Trai Chu', N'trai222@gmail.com', 0, N'$2a$10$SFW3byLv1drI9RBmEUmJ1ObY5qkAIpa9w9P3AS78q3g21zMY7sfpS', N'0362351671', 1, 0, CAST(N'2023-02-07T02:10:00.7703388+07:00' AS DateTimeOffset), CAST(N'2023-02-07T02:10:00.7718821+07:00' AS DateTimeOffset), 1, 0, NULL)
INSERT [dbo].[Users] ([Id], [SubId], [FullName], [Email], [EmailConfirmed], [Password], [PhoneNumber], [PhoneNumberConfirmed], [AccessFailedCount], [CreatedAt], [ModifiedAt], [IsActive], [Status], [Avatar]) VALUES (N'2ac33d9d-7e49-422e-8587-190f6c7bedca', 3, N'Admin31111', N'Admin111@gmail.com', 1, N'$2a$10$JEki4k/SqmU3LMru0QExYOSCWJR5dFkKpbQKEFVsXmAFnskgPviTC', N'0362351672', 1, 0, CAST(N'2023-02-09T01:15:26.1461329+07:00' AS DateTimeOffset), CAST(N'2023-02-09T01:15:26.1477480+07:00' AS DateTimeOffset), 1, 1, N'97da27e7-0c01-4294-974f-a2460625955a.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTokens] ([Id], [UserId], [Email], [Expires], [Value]) VALUES (N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000', N'trai123trai@gmail.com', CAST(N'2023-03-08T19:06:10.9444935' AS DateTime2), N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiTm9ybWFsVXNlciIsIm5hbWUiOiJWYW4gVHJhaSBDaHUiLCJlbWFpbCI6InRyYWkxMjN0cmFpQGdtYWlsLmNvbSIsImV4cCI6IjIwMjMtMDMtMDhUMTk6MDY6MTAuODcxOTI1M1oiLCJpYXQiOiIyMDIzLTAyLTA2VDE5OjA2OjEwLjg3MTkyODlaIn0.wkUYOgiB3vAi27BwOkJJp0s3XUurBnPNYX6ZeHRMBC4')
INSERT [dbo].[UserTokens] ([Id], [UserId], [Email], [Expires], [Value]) VALUES (N'7c748197-0d68-420a-8989-d69a9aa9fe90', N'96ed8a95-595e-4af9-96c6-0ac65f1f4128', N'trai222@gmail.com', CAST(N'2023-03-08T19:10:00.9268625' AS DateTime2), N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiTm9ybWFsVXNlciIsIm5hbWUiOiJWYW4gVHJhaSBDaHUiLCJlbWFpbCI6InRyYWkyMjJAZ21haWwuY29tIiwiZXhwIjoiMjAyMy0wMy0wOFQxOToxMDowMC44NTI3MjM4WiIsImlhdCI6IjIwMjMtMDItMDZUMTk6MTA6MDAuODUyNzI3NFoifQ.qNAK4vO6tSHa5QlK6Tjj5Dr-FRdmPXy-BZRnx6kcCfA')
INSERT [dbo].[UserTokens] ([Id], [UserId], [Email], [Expires], [Value]) VALUES (N'bc2391eb-856d-405d-adb4-55944494e163', N'2ac33d9d-7e49-422e-8587-190f6c7bedca', N'Admin111@gmail.com', CAST(N'2023-03-10T18:15:26.3067005' AS DateTime2), N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiQWRtaW4iLCJuYW1lIjoiQWRtaW4xMTEiLCJlbWFpbCI6IkFkbWluMTExQGdtYWlsLmNvbSIsImV4cCI6IjIwMjMtMDMtMTBUMTg6MTU6MjYuMjMyMDUyMloiLCJpYXQiOiIyMDIzLTAyLTA4VDE4OjE1OjI2LjIzMjA1NTdaIn0.7BMaYRaz1xH7staLyVFZ7AM8sruuK1SrdYGuvDzA26U')
GO
ALTER TABLE [dbo].[CategoryManga]  WITH CHECK ADD  CONSTRAINT [FK_CategoryManga_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[CategoryManga] CHECK CONSTRAINT [FK_CategoryManga_Categories]
GO
ALTER TABLE [dbo].[CategoryManga]  WITH CHECK ADD  CONSTRAINT [FK_CategoryManga_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[CategoryManga] CHECK CONSTRAINT [FK_CategoryManga_Mangas]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Mangas]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Chapteres]  WITH CHECK ADD  CONSTRAINT [FK_Chapteres_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[Chapteres] CHECK CONSTRAINT [FK_Chapteres_Mangas]
GO
ALTER TABLE [dbo].[FollowList]  WITH CHECK ADD  CONSTRAINT [FK_FollowList_Mangas] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Mangas] ([Id])
GO
ALTER TABLE [dbo].[FollowList] CHECK CONSTRAINT [FK_FollowList_Mangas]
GO
ALTER TABLE [dbo].[FollowList]  WITH CHECK ADD  CONSTRAINT [FK_FollowList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FollowList] CHECK CONSTRAINT [FK_FollowList_Users]
GO
ALTER TABLE [dbo].[Mangas]  WITH CHECK ADD  CONSTRAINT [FK_Mangas_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Mangas] CHECK CONSTRAINT [FK_Mangas_Authors]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Chapteres] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapteres] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Chapteres]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Chapteres] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapteres] ([Id])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Chapteres]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
