@page
@model MangaOnline.Pages.Auth.ChangePassword

@{
    Layout = "_LayoutAuth";
}
<link rel="stylesheet" href="~/css/AuthRegistration.css">
<div class="sign section--bg" data-bg="~/lib/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form method="post" class="sign__form">
                        <a asp-page="/Index" class="sign__logo">
                            <img src="~/lib/img/logo.svg" alt="">
                        </a>
                        <div class="sign__group">
                            <input type="password" asp-for="RequiredChangePassword.OldPassword" id="oldPasswordInput" required class="sign__input input-password" placeholder="Mật khẩu cũ">
                            <button type="button" id="btnOldPassword" onclick="showOldPassword()">
                                <i class="icon ion-ios-eye icon-custom-password"></i>
                            </button>
                            <p class="noti" id="noti-OldPassword">@Model.MessageOldPassword</p>
                        </div>

                        <div class="sign__group">
                            <input type="password" asp-for="RequiredChangePassword.NewPassword" id="newPasswordInput" required class="sign__input" placeholder="Mật khẩu mới">
                            <button type="button" id="btnNewPassword" onclick="showNewPassword()">
                                <i class="icon ion-ios-eye icon-custom-password"></i>
                            </button>
                            <p class="noti" id="noti-NewPassword"></p>
                        </div>

                        <div class="sign__group">
                            <input type="password" id="passwordConfirmedInput" required class="sign__input" placeholder="Nhập lại mật khẩu">
                            <button type="button" id="btnPasswordConfirmed" onclick="showPasswordConfirmed()">
                                <i class="icon ion-ios-eye icon-custom-password"></i>
                            </button>
                            <p class="noti" id="noti-PasswordConfirmed"></p>
                        </div>

                        <button class="sign__btn" id="submitBtn" type="submit">Lưu thay đổi</button>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ChangePassword.js"></script>