@page
@model MangaOnline.Pages.Auth.ForgotPassword

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutAuth";
}

<link rel="stylesheet" href="~/css/AuthRegistration.css">
<div class="sign section--bg" data-bg="~/lib/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <form method="post" class="sign__form">
                        <a asp-page="Index" class="sign__logo">
                            <img src="~/lib/img/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="text" asp-for="Email" required class="sign__input" placeholder="Email"/>
                            <p class="noti" id="noti-email">@Model.Noti</p>
                        </div>

                        <button class="sign__btn" type="submit">Lấy lại mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>